### Matching Zoo

### Mount

In [0]:
import os
os.chdir('/content/drive/My Drive/Matching')

### Libraries

In [0]:
# ! pip install fuzzywuzzy
# !pip install python-Levenshtein
import pandas as pd
import numpy as np
import fuzzywuzzy as fuzz
from fuzzywuzzy import process

### Read

In [0]:
file1 = 'unique.csv'
file2 = 'foodata.csv'

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2, encoding='unicode-escape')

In [0]:
df1.columns = ['mynames']
df2 = df2.rename(columns={'myname': 'mynames'})

In [0]:
df1 = df1.iloc[0:10,:]
df2 = df2.iloc[0:20,:]

In [102]:
df2

                               key2  ...                                               add2
0         VENEELYN QUITALIG AALIWIN  ...                                                NaN
1            ZUSANA GERUNDIO GOY AB  ...                                                NaN
2           ROMEO JR BELMONTE ABACA  ...  ABACA APARTMENT 21F;HERNANDEZ BLDG SAN JUAN NA...
3             ELMER SEMANA ABACAHIN  ...                                                NaN
4         CARLA MICHELLE PUNIO ABAD  ...                                                NaN
5            EDUARDO JR HANDOG ABAD  ...                                                NaN
6                LOURDES GADIL ABAD  ...                                                NaN
7         MARIA SOCORRO BAYRON ABAD  ...                                                NaN
8               RAYMUND OCINAR ABAD  ...                                                NaN
9            ROMALYN ESTEFANIO ABAD  ...                                                NaN
10                     EDEN F ABADA  ...                                                NaN
11            ROSELLE ROMANOS ABADA  ...                                                NaN
12  MARIA VICTORIA REGALARIO ABADAM  ...                                                NaN
13          CHARITO SUILAN ABADIANO  ...                                                NaN
14         LARRY MARCELINO ABADILLA  ...                                                NaN
15            GERLIE PLANOS ABAINZA  ...                                                NaN
16       GINA MARIA GAMBOA ABALAYAN  ...                                                NaN
17        CHARLES LEO MINOZA ABALLE  ...                                                NaN
18           GLENN BARANGIAN ABALLE  ...                                                NaN
19            RACHEL PONTALBA ABALO  ...                                                NaN

[20 rows x 6 columns]

### Change cols

In [0]:
df1 = df1.rename(columns={'mynames': 'key1'})
df2 = df2.rename(columns={'mynames': 'key2'})

### Convert to Upper

In [99]:
df1.Key = df1.key1.str.upper()
df2.Key = df2.key2.str.upper()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

### Dim

In [103]:
print('df1 shape: ', df1.shape)
print('df1 size: ', df1.size)
print('df2 shape: ', df2.shape)
print('df2 size: ', df2.size)

df1 shape:  (10, 1)
df1 size:  10
df2 shape:  (20, 6)
df2 size:  120

### Function

In [0]:
def fuzzy_merge(df1, df2, key1, key2, threshold=90, limit=2):
    """
    df_1 is the left table to join
    df_2 is the right table to join
    key1 is the key column of the left table
    key2 is the key column of the right table
    threshold is how close the matches should be to return a match, based on Levenshtein distance
    limit is the amount of matches that will get returned, these are sorted high to low
    """
    s = df2[key2].tolist()

    m = df1[key1].apply(lambda x: process.extract(x, s, limit=limit))    
    df1['matches'] = m

    m2 = df1['matches'].apply(lambda x: ', '.join([i[0] for i in x if i[1] >= threshold]))
    df1['matches'] = m2

    return df1

### Fuzzy

In [105]:
df3 = fuzzy_merge(df1, df2, 'key1','key2', threshold=80)
df3
df3 = pd.merge(df3, df2, how='left', left_on='matches', right_on='key2')
df3

                     key1 matches key2 phone  add  zip phone2 add2
0  AARON ADAM B GALLANOSA          NaN   NaN  NaN  NaN    NaN  NaN
1      ABDAIN M BARABADAN          NaN   NaN  NaN  NaN    NaN  NaN
2      ABEDNEGO A TIAMZON          NaN   NaN  NaN  NaN    NaN  NaN
3          ABEGAIL S MAUL          NaN   NaN  NaN  NaN    NaN  NaN
4      ABNER JR S MENDOZA          NaN   NaN  NaN  NaN    NaN  NaN
5        ADELINA A GABACA          NaN   NaN  NaN  NaN    NaN  NaN
6      ADELYN L FERNANDEZ          NaN   NaN  NaN  NaN    NaN  NaN
7          ADONIS F GABON          NaN   NaN  NaN  NaN    NaN  NaN
8      ADONIS M VILLARAZA          NaN   NaN  NaN  NaN    NaN  NaN
9       ADRIAN S GUEVARRA          NaN   NaN  NaN  NaN    NaN  NaN

### Write

In [0]:
df3.to_csv('mymatch1.csv',index=False)